body {
    background-repeat: no-repeat;
    background: linear-gradient(90deg, red, blue);
  }

.container{
    max-width: 700px;
    margin: 0 auto;

}

  
.input{
    cursor: pointer;
width: 400px;
padding:15px ;
border-radius: 25px;
 margin-left: 140px;
margin-top: 30px;  
}

.input:hover{
    box-shadow: 0px 0px 8px 10px #888888;
    border-color:palevioletred;
    background-color: aqua;
}
.btn{
    margin-left: 300px;
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.btn:hover,
.btn:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.btn:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.btn {

color: white;
border-radius: 20px;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 200px;
  margin-top:30px;
  cursor: pointer;
  padding: .3em .3em;
  width: 300px;
}

.block{
    color: rgba(0, 255, 76, 0.805);
    gap: 30px;
    margin-left: 250px;
}



